{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["dev/tsconfig.json"]
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:prettier/recommended"
  ]
}
